@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

.footer-email-list-sign-up {
  position: relative;
  width: 1440px;
  height: 745px;
}

.footer {
  width: 100vw;
  background: #120F23;
}

.congrats-txt {
  width: 433px;
}

.main-heading-txt {
  position: absolute;
  word-wrap: break-word;
  left: 13.26%;
  right: 67.71%;
  top: 40px;
  bottom: 30.13%;
  vertical-align: top;
  font-style: normal;
  font-weight: 300;
  line-height: 131px;
  /* font-size: 80px; */
  font-size: 53px;

  color: #B6FDBF;
}

.signup-heading,
.thank-you-message,
.look-out-message {
  color: #94AEBF;
}

.signup-heading {
  position: absolute;
  left: 37.01%;
  right: 13.26%;
  top: 40.6px;
  bottom: 63.68%;

  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  font-size: 24px;
}

.thank-you-message {
  position: absolute;
  left: 44.87%;
  right: 25.39%;
  top: 34.87%;
  bottom: 60.53%;

  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  font-size: 32px;
}

.look-out-message {
  position: absolute;
  left: 44.87%;
  top: 111px;

  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 26px;
}

.email-input {
  position: absolute;
  left: 37.15%;
  right: 29.51%;
  top: 39.06%;
  bottom: 54.9%;
  width: 455px;
  height: 45px;
}

.first-name-input {
  position: absolute;
  left: 37.15%;
  right: 46.53%;
  top: 39.06%;
  bottom: 54.9%;
  width: 210px;
  height: 45px;
}

.last-name-input {
  position: absolute;
  left: 54.17%;
  right: 29.51%;
  top: 39.06%;
  bottom: 54.9%;
  width: 210px;
  height: 45px;
}

.input {
  background: #FFFFFF;
  mix-blend-mode: normal;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  border: none;
  padding-left: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  font-size: 24px;

  color: #FFFFFF;

  mix-blend-mode: normal;
}



.input:-ms-input-placeholder{ /* IE 10+ */
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.4;
}

.input::-ms-input-placeholder{ /* Microsoft Edge */
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.4;
}

.input::placeholder{
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.4;
}

.next-btn {
  position: absolute;
  left: 71.88%;
  right: 17.78%;
  top: 38.66%;
  bottom: 54.63%;
  height: 50px;
  width: 149px;
  background: #ED1F34;
  border-radius: 5px;
  border: none;

  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  font-size: 20px;
  text-align: center;

  color: #FFFFFF;
}

.checkbox-div {
  position: absolute;
  left: 37.15%;
  right: 62.01%;
  top: 70.21%;
  bottom: 27.12%;
}

.regular-checkbox {
	-webkit-appearance: none;
	padding: 5px;
  position: absolute;
  background: #FFFFFF;
  border: 1px solid #9B9B9B;
  box-sizing: border-box;
  border-radius: 3px;
  z-index: 2;
}

.regular-checkbox:checked:after {
	content: '\2714';
	font-size: 8px;
	position: absolute;
	top: 0px;
	left: 1.5px;
  color: #17103F;
  z-index: 3;
}

.line-1 {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 27.1%;

  mix-blend-mode: normal;
  opacity: 0.4;
  border: 1px solid #888888;
}

.rectangle {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 27.21%;
  bottom: 40.14%;
  background: #120F23;
  height: 212px;
}

.line-2 {
  position: absolute;
  left: -0.18%;
  right: -0.12%;
  top: 55.4%;

  mix-blend-mode: normal;
  opacity: 0.4;
  border: 1px solid #888888;
}

.policy-agreement-text {
  position: absolute;
  left: 38.61%;
  right: 36.74%;
  top: 67.83%;
  bottom: 50.09%;

  font-style: normal;
  font-weight: 300;
  line-height: 14px;
  font-size: 12px;

  color: #888888;
}

/* ========================= media queries ============================== */

/* ------------------------ tablet landscape ---------------------------- */

@media (max-width: 1027px) and (orientation: landscape) {
  .rectangle {
    top: 28.17%;
    bottom: 41.97%;
    width: 1027px;
  }

  .line-1 {
    display: none;
  }

  .line-2 {
    display: none;
  }

  .main-heading-txt {
    left: 10.35%;
    right: 59.57%;
    top: 38.03%;
    bottom: 53.52%;
    line-height: 60px;
    /* font-size: 60px; */
    font-size: 40px;
  }

  .signup-heading {
    left: 341px;
    right: 25.2%;
    top: 43px;
    bottom: 61.55%;

    line-height: 30px;
    font-size: 20px;
  }

  .email-input {
    left: 33.3%;
    right: 30.18%;
    top: 40.7%;
    bottom: 52.96%;
    width: 349px;

    line-height: 32px;
    font-size: 24px;
  }

  .first-name-input,
  .last-name-input {
    width: 157px;
  }

  .first-name-input {
    left: 33.3%;
    right: 48.93%;
    top: 40.56%;
    bottom: 53.1%;
  }

  .last-name-input {
    left: 52.05%;
    right: 30.18%;
    top: 40.56%;
    bottom: 53.1%;
  }

  .policy-agreement-text {
    left: 362px;
    bottom: 42.2px;
    line-height: 14px;
    width: 355px;
  }

  .checkbox-div {
    left: 341px;
    top: 143px;
  }

  .next-btn {
    left: 71.78%;
    right: 13.67%;
    top: 40.28%;
    bottom: 52.68%;
  }

  .signup-heading {
    width: 716px;
  }

  .congrats-txt {
    left: 10.06%;
    right: 45.61%;
    top: 35.63%;
    bottom: 50.28%;
    width: 454px;
    height: 100px;
  }

  .thank-you-message {
    left: 41.89%;
    right: 10.66%;
    top: 37.63%;
    bottom: 57.55%;

    font-size: 28px;
  }

  .look-out-message {
    width: 547px;
    height: 70px;
    left: 41.21%;
    right: 5.37%;
    top: 117px;
    bottom: 45.49%;

    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 20px;
  }

}

/* ------------------------ tablet portrait ---------------------------- */
@media (max-width: 1027px) and (orientation: portrait) {
  .rectangle {
    width: 768px;
    height: 240px;
  }

  .line-1 {
    display: none;
  }

  .line-2 {
    display: none;
  }

  .main-heading-txt {
    left: 38.93%;
    right: 27.6%;
    top: 12px;
    bottom: 62.99%;
    line-height: 60px;
    /* font-size: 50px; */
    font-size: 35px;
  }

  .signup-heading {
    top: 92px;
    left: 99.5px;
    width: 570px;
    height: 28px;
    line-height: 26px;
    font-size: 20px;
    text-align: center;
  }

  .email-input {
    left: 146px;
    top: 131px;
    width: 349px;
    line-height: 32px;
    font-size: 24px;
  }

  .next-btn {
    left: 540px;
    top: 128px;

  }

  .policy-agreement-text {
    left: 167px;
    top: 183.8px;

    width: 355px;
    height: 28px;
  }

  .checkbox-div {
    left: 149px;
    top: 188px;
  }

  .first-name-input,
  .last-name-input {
    top: 130px;
    width: 159px;
  }

  .first-name-input {
    left: 147px;
  }

  .last-name-input {
    left: 339px;
  }

  .congrats-txt {
    top: 28px;
    left: 264px;
    width: 378px;

    line-height: 60px;
    /* font-size: 50px; */
    font-size: 33px;
  }

  .thank-you-message {
    top: 107.2px;
    left: 27.21%;
    right: 27.08%;
    text-align: center;
    width: 351px;
    line-height: 32px;
    /* font-size: 28px; */
    font-size: 20px;
  }

  .look-out-message {
    top: 156px;
    left: 143px;
    width: 482px;
    height: 34.22px;

    line-height: normal;
    font-size: 20px;
  }

}

/* -------------------------- Mobile ------------------------------ */

@media (max-width: 480px) {

.main-div {
  display: flex;
  justify-content: center;
}

.footer-email-list-sign-up {
 position: absolute;
 width: 1440px;
 height: 745px;
}
  .outer-rectangle {
    position: absolute;
    margin: auto;
    left: 0%;
    right: 0%;
    bottom: 40.14%;background: #120F23;

    width: 500px;
    height: 300px;
  }

  .rectangle {
    margin: auto;
    top: 0;
    bottom: 0;
    width: 320px;
    height: 300px;
  }

  .line-1 {
    display: none;
  }

  .line-2 {
    display: none;
  }

  .main-heading-txt {
    left: 101px;
    top: 12.7px;
    height: 159px;
    width: 159px;
    line-height: 59px;
    /* font-size: 36px; */
    font-size: 26px;
  }

  .signup-heading {
    top: 69.68px;
    left: 29px;
    width: 260px;
    height: 40px;

    line-height: 20px;
    font-size: 16px;
    text-align: center;
  }

  .signup-heading span {
    display: inline-block;
  }

  .email-input {
    width: 264px;
    left: 6.25%;
    right: 6.25%;
  }

  .next-btn {
    width: 280px;
    height: 44.13px;
    left: 6.56%;
    right: 5.94%;
    top: 175px;
  }

  .policy-agreement-text {
    top: 225.8px;
    left: 16.56%;
    right: 10%;

    width: 235px;
  }

  .checkbox-div{
    top: 227px;
    left: 10%;
    right: 86.25%;
  }

  .input {
    top: 122px;
    padding-left: 16px;
    line-height: 32px;
    font-size: 14px;

  }

  .first-name-input,
  .last-name-input {
    width: 119px;
  }

  .first-name-input {
    left: 6.25%;
    right: 51.56%;
  }

  .last-name-input {
    left: 51.56%;
    right: 6.25%;
  }

  .congrats-txt {
    left: 50.93px;
    right: 50.93px;
    width: 218px;
    top: 50.9px;
    line-height: 59px;
    font-size: 30px;
    /* left: 21.88%;
    right: 21.88%;
    width: 180px;
    font-size: 36px; */
  }

  .thank-you-message {
    top: 122px;
    left: 12.53%;
    right: 13.25%;
    width: 237.48px;
    height: 59.29px;
    line-height: 30px;
    font-size: 24px;
    text-align: center;
  }

  .look-out-message {
    top: 196px;
    left: 9.69%;
    right: 7.81%;

    font-size: 18px;
    text-align: center;
    width: 264px;
  }

}
